body {
    perspective: 1000px;
}

img {
    width: 300px;
    display: block;
    margin: 120px auto;
    /*padding: 50px;*/
    transition: transform 1s;
}

img:hover {
    transform: rotateY(60deg);
}
